* {
    background-color: black;
}

.Principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    color: white;
}

.reloj{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin: 5px;
    height: 60px;
    background-color: blue;
    border-radius: 10px;
    font-size: xx-large;
    font-family: 'Courier New';
}